@import "./style.css";


/*HEADER*/

.header {
    display: flex;
    background-color: #444;
    height: 40vh;
}


.header-img {
    background-image: url(../imgs/lake-img.jpg);
    background-size: cover;
    background-position: center;
}

.header > figcaption {
    text-align:end;
    color: white;
}

/*CONTENT*/

.post-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
}

.content {
    grid-column: 2 / 6;
    grid-row: 1 / 2; 
    background-color: white;
    padding: 16px;
    padding-bottom: 40px;
    max-width: 800px;
}

.content > p {
    font-size: 18px;
    line-height: 1.75;
    
}

/*SIDEBAR*/
.sidebar {
    grid-column: 1/ span 1;
    grid-row: 1 / 2; 
    background-color:whitesmoke;
    padding: 20px;
    height: auto; 
    justify-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sidebar-social-medias {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sidebar-social-medias-title {
    font-weight: 800;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

blockquote {
    margin: 0;
}

@media (max-width: 700px) {

    .post-grid {
        grid-template-rows: auto auto; 
        grid-gap: 0px;

    }
  
    .content {
        grid-column: 1 / span 6;
        grid-row: 1 / 2;
    }
    .sidebar {
        grid-column: 1 / span 6;
        grid-row: 2 / 3;
    }
    
  }