@import "./navigation.css";
@import "./cards.css";
@import "./footer.css";

body {
    margin: 0px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }
}


/*BANNER*/

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-image: url(../imgs/banner-img.jpg);
    background-size: cover;
    background-position: center;
}

.banner-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.banner-copy > h1, h3 {
    color: white;
    text-align: center;
}

.banner-container > figcaption {
    color: white;
    font-size: 12px;
}


/*POSTS*/

.posts-container {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 8px;
    padding-right: 8px; 
}

.posts-container > h2 {
    display: flex;
    justify-content: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 360px));
    justify-content: center;
}

.box-img > figcaption {
    color: white;
    font-size: 12px;
    padding: 8px;
}