.box {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    height: 300px;
    margin: 8px;   
    -webkit-box-shadow: 1px 0px 12px -3px rgba(0,0,0,0.78); 
    box-shadow: 1px 0px 12px -3px rgba(0,0,0,0.78);
}

.box-img {
    height: 200px;
    width: 100%;
    background-image: url("imgs/travel-guide-img.jpg");
    background-size: cover;
}



.box > h3 {
    color:black;
}