/*NAVIGATION*/

.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 10vh;
    padding: 0px 30px 0px 30px;
}


.links-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-links {
    color: white;
    margin: 20px;
}

.nav-links > a {
    text-decoration: none;
    color: white;
}

.nav-links > a:hover, a:active {
    text-decoration: underline;
    color: white;
}

.logo {
    width: 150px;
    height: auto;
}