/*NAVIGATION*/

.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 240, 108);
    height: 10vh;
    padding: 0px 30px 0px 30px;
}

.logo > img {
    height: 70px;
}

.links-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.links-container > li {
    font-size: 24px; 
}

.nav-links {
    color: white;
    margin: 20px;
}

.nav-links > a {
    text-decoration: none;
    color: white;
}

.nav-links > a:hover, a:active {
    text-decoration: underline;
    color: white;
}

.logo {
    width: auto;
    height: auto;
}

@media screen and (max-width: 500px) {
    .logo > img {
        display: none;
    }

    .links-container {
        display: flex;
        justify-content: flex-start;
        padding: 0px;
    }

    .nav-container {
        display: flex;
        flex-wrap: wrap;
    }
}
