@import "style.css";


/*HEADER*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    height: 40vh;
}

.header-img {
    background-image: url(imgs/lake-img.jpg);
    background-size: cover;
    background-position: center;
}

/*CONTENT*/

.post-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
}

.content {
    grid-column: 2 / 6;
    grid-row: 1 / 2; 
    background-color: white;
    padding: 16px;
    max-width: 800px;
}

.content > p {
    font-size: 18px;
    line-height: 1.75;
    
}

/*SIDEBAR*/
.sidebar {
    grid-column: 1/ span 1;
    grid-row: 1 / 2; 
    background-color:whitesmoke; 
}

@media (max-width: 700px) {

    .post-grid {
        grid-template-rows: 10vh auto; 
        grid-gap: 0px;

    }
  
    .content {
        grid-column: 1 / span 6;
        grid-row: 2 / 3;
    }
    .sidebar {
        grid-column: 1 / span 6;
        grid-row: 1 / 2;
    }
    
  }