@import "style.css";

body {
    background-color: red;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    height: 40vh;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30vw;
    grid-gap: 1em;
}

.content {
    grid-column: 2 / 4;
    grid-row: 1 / 2; 
    background-color: violet;
}

.sidebar {
    grid-column: 1/ span 1;
    grid-row: 1 / 2; 
    background-color:turquoise; 
}

@media (max-width: 700px) {

    .post-grid {
        grid-template-rows: 10vh auto; 
        grid-gap: 0px;

    }
  
    .content {
        grid-column: 1 / span 4;
        grid-row: 2 / 3;
    }
    .sidebar {
        grid-column: 1 / span 4;
        grid-row: 1 / 2;
    }
    
  }