@import "navigation.css";
@import "footer.css";
@import "subscribe.css";

body {
    margin: 0px;
}

/*BANNER*/

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: red;
}

/*PROJECTS*/
.project-container {
    background-color: blue;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 8px;
    padding-right: 8px; 
}

.project-container > h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 360px));
    justify-content: center;
}

.box {
    background-color: #444;
    height: 300px;
    margin: 8px;
}
