@import "navigation.css";
@import "footer.css";

body {
    font-size: 21px;
    margin: 0px;
}

/*BANNER*/

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: red;
}

/*PROJECTS*/
.project-container {
    background-color: blue;
    padding-top: 40px;
    padding-bottom: 40px;
}

.project-container > h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 20px;
}

.box {
    background-color: #444;
    margin: 20px;
    height: 300px;
}

/*SUBS*/

.subs-container {
    background-color: green; 
    height: 40vh;
}