@import "navigation.css";
@import "footer.css";

.body {
    font-size: 21px;
    margin: 0px;
}

.page-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 50%) minmax(25%, 75%);
    grid-template-areas: "nav nav " "banner banner" "post post" "subs subs" "footer footer";
}   

/*--------*/

.banner {
    grid-area: banner;
    height: 50vh;
}

.banner-img {
    background-image: url("imgs/banner-img.png");
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.banner-graphism {
    height: 70%;
    width: auto;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

/*--------*/

.posts-grid {
    grid-area: post;
}

.posts-container {
    background-color: brown;
    height: 400px;
}

.subscription {
    grid-area: subs;
    background-color:coral;
    height: 300px;
}
