/*SUBS*/

.subs-container {
    display: flex;
    justify-content: center;
    background-color: green; 
    height: 40vh;
    
}

form > input {
    width: 300px;
    height: 30px;
}

button {
    padding      : 5px;
    font         : bold .6em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
    transform    : rotate(-1.5deg);
  }