/*SUBS*/

.subs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green; 
    height: 40vh;
    
}

form > input {
    width: 400px;
    height: 30px;
}

@media screen and (max-width: 425px) {
    form > input {
        width: 288px;
    }
}

@media screen and (min-width: 2560px) {
    form > input {
        width: 800px;
    }
}

button {
    padding      : 5px;
    font         : bold .6em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
    transform    : rotate(-1.5deg);
  }